h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
  text-align: center;
}
.bottom{
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}
.button_shuffle{
  font-family: "Aclonica";
  font-weight: bold;
  background-color: #003366;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
#instruction{
    width: 400px;
    margin: auto;
    text-align: center;
}
body{
    font-family: 'Shadows Into Light', cursive;
    background: #87CEEB;
}
td{
    border: 1px solid black;
}
td{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    height: 50px;
    width: 50px;
    font-size: 20pt;
}
table{
    margin: auto;
    height: 400px;
    width: 400px;
}
